@import url("https://fonts.googleapis.com/css?family=Gentium+Basic:400,400i,700,700i|Open+Sans:300,300i,400,400i&subset=latin-ext");

/*HEADER*/

header div img{
    width: 100%;
    height: 450px;
}
    
   
header .logo{
    text-align: center;
    width: 100%;
    height: calc(100vh - 700px);
    
}


header h1 {
    font-family: "Gentium Basic", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 120px;
    color: #581845;
    line-height: 70px;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px #000;
}

header h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    letter-spacing: 5px;
    color: #581845;
    text-transform: uppercase;
}

header nav ul {
    display: block;
    margin: 0 auto;
    text-align: center; /*IE*/
    width: fit-content;
}

header nav ul li {
    display: inline-block;
    padding: 16px 16px;
}

header nav ul li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    font-style: italic;
    letter-spacing: 3px;
    color: #581845;
    text-transform: uppercase;
    text-decoration: none; 
}

header .banner {
        background-image: url("img/banner2.jpg");
        width: 100%;
        height: calc(100vh - 300px);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }


@media only screen and (max-width: 950px) {
    

    header h1 {
        font-size: 60px;
    }
    
    header h2 {
        font-size: 18px;
    }
    
    header nav ul li a{
        font-size: 24px;
    }
    
    header .banner {
        height: calc(100vh - 500px);
    }
    
    header .logo{
    text-align: center;
    width: 100%;
    height: calc(100vh - 700px);
    
}
    
}


/*MAIN - GALLERY*/


    .meist-tekst, .meist-pilt {
        height: calc(100vh - 400px);
        width:50%;
        margin-bottom: 50px;
        
    }

    .meist-tekst {
        float: left;
    }

    .meist-pilt {
        float: right;

    }


.index-header{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    
}
.pealkiri1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    font-style: italic;
    letter-spacing: 3px;
    color: #581845;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    margin-left:10%;
}

.pealkiri2 {

    }

.pealkiri2 h2{
    display:none;
}



.meist-tekst  p{
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 5px;
    color: #581845;
    text-transform: uppercase;
    width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-top: 15%;

         
}



.meist-pilt img {
    width: 100%;
    max-width: 500px;
    border-radius: 150px;
    margin-top: 10%;
     
}

hr {
    color: #581845;
    border-width: 5px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
} 


.gallery-links {
    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap; 
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    justify-content: center;

}

.gallery-image {
    -webkit-flex-basis: 500px; /*kuigi uuematel brauseri versioonidel peaks ka prefiksiteta töötama*/
    -moz-flex-basis: 500px;
    flex-basis: 500px;
    margin: 10px;
    
    
    position: relative;
    text-align: center;
    
}

.post-header {
    font-family: "Open Sans", sans-serif;
    font-weight: 1000;
    font-size: 40px;
    letter-spacing: 3px;
    line-height: 42px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 3px 9px #111;
    
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-image img {
    width: 100%;
    border-radius: 150px;
}

@media screen and (max-width:950px)
{
    .meist-tekst, .meist-pilt {
        height: calc(100vh - 400px);
        width:100%;
    }

    .meist-tekst p{
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        font-size: 22px;
        letter-spacing: 5px;
        color: #581845;
        text-transform: uppercase;
        width: 70%;
        text-align: center;
        margin-left: 15%;
        margin-top: 15%;
        margin-bottom: 15%;
    }

    .meist-pilt {
        display: none;

    }
    .meist-pilt img{
        display: none;
    }
    
    .pealkiri2 {
        margin-left: 10%;
    }
    
    .pealkiri2 h2{
        display:contents;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 40px;
        font-style: italic;
        letter-spacing: 3px;
        color: #581845;
        text-transform: uppercase;
        text-decoration: none;
        text-align: left;
        margin-top: 50px;

    }
    
    .index-header {
        margin-top: 120px;
        margin-bottom: 70px;
    }
}


/*FOOTER*/

footer {
    width: 100%;
    height: 200px;  
    margin-top: 50px;
    background-color: #581845;
    overflow: hidden; 
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 50px;
    margin-top: 50px;
}

footer ul li {
    display: block;
    padding: 0 0 10px 0;
}

footer ul li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-sm {
    width: 60px;
    padding-right: 60px;
    float: right;
    margin-top: 40px;
}

.footer-sm img {
    width: 100%;
    margin-bottom: 10px;
}

@media screen and (max-width:950px)
{
    
    footer ul li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 3px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
    
}
   


